@{
    ViewData["Title"] = "Inicio";
}

<style>
    body {
        margin-top: 0;
        padding-top: 0;
    }

    .titulo-agrícola {
        margin-top: -30px;
    }
</style>

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-12 text-center pt-3">
            <h1 class="display-5 text-success fw-bold titulo-agrícola">
                Plataforma de Gestión Agrícola
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img src="https://i.pinimg.com/736x/63/25/0a/63250a5e75596732ef24113f3b7f82cc.jpg"
                 alt="Campo agrícola"
                 class="img-fluid rounded-3 shadow-sm"
                 style="width: 100%; height: auto; margin-top: 10px;" />
        </div>
    </div>
</div>
