@model Control_de_Lotes.Models.Lote

@{
    ViewData["Title"] = "Create";
}

<h4>Lote</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="Nombre" class="control-label">Número</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="col-md-6 form-group">
            <label asp-for="Tamaño" class="control-label">Hectáreas</label>
            <input asp-for="Tamaño" class="form-control" />
            <span asp-validation-for="Tamaño" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="Ubicacion" class="control-label">Ubicación</label>
            <input asp-for="Ubicacion" class="form-control" />
            <span asp-validation-for="Ubicacion" class="text-danger"></span>
        </div>
    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Cargar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
